<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yazhi.illakiya">

    <application
        android:allowBackup="true"
        android:label="Illakiya"
        android:supportsRtl="true"
        android:theme="@style/Theme.Illakiya">

        <service
            android:name=".service.IllakiyaIME"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="Illakiya Settings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
